.header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__link {
    display: inline-grid;
    width: 40px;
    grid-column: 2/3;
  }
}
