.main {
  display: grid;
  grid-area: main;
  justify-content: center;
  padding: 0 20px;

  grid-template-columns: repeat(var(--amount-columns), $item-width);
  grid-auto-rows: 1fr;
  row-gap: 51px;
  column-gap: 48px;

  @media (max-width: 992px) {
    --amount-columns: auto-fit;
  }
}
